<div class="header">
    <div class="container">
        <div class="label">
            <div class="ico"></div>
            <div class="name">Test Work | Пользователи</div>
        </div>
        <div class="info">
            <div class="author">by Dunaev Timur</div>
            <div class="email">email: info@dt-designer.ru</div>
            <div class="toCompany">for SibEDGE</div>
        </div>
    </div>
</div>