.page-pagination
  display: inline-block
  width: 100%
  margin-bottom: 10px
  font-size: 14px
  .coll
    max-width: 50%
    &.left
      float: left
    &.right
      float: right

  .showBy
    label
      margin-right: 10px

  .pagination
    float: right
    list-style: none
    margin: 0
    padding: 0
    .page-item
      float: left
      margin-right: 3px
      &:last-child
        margin-right: 0
      .page-link
        border: 1px solid #b9b9b9
        background: #e2e1e1
        padding: 1px 5px
        min-width: 20px
        cursor: pointer
      &.active
        .page-link
          background: #b9b9b9
          color: #fff