.page-pagination {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px; }
  .page-pagination .coll {
    max-width: 50%; }
    .page-pagination .coll.left {
      float: left; }
    .page-pagination .coll.right {
      float: right; }
  .page-pagination .showBy label {
    margin-right: 10px; }
  .page-pagination .pagination {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
    .page-pagination .pagination .page-item {
      float: left;
      margin-right: 3px; }
      .page-pagination .pagination .page-item:last-child {
        margin-right: 0; }
      .page-pagination .pagination .page-item .page-link {
        border: 1px solid #b9b9b9;
        background: #e2e1e1;
        padding: 1px 5px;
        min-width: 20px;
        cursor: pointer; }
      .page-pagination .pagination .page-item.active .page-link {
        background: #b9b9b9;
        color: #fff; }

/*# sourceMappingURL=pagination.component.css.map */
