<div class="page-pagination">
    <div class="coll left">
        <div class="showBy">
            <label>Показывать по</label>
            <select [(ngModel)]="currentLimit" (ngModelChange)="setLimit()">
                <option *ngFor="let item of pageLimits" [value]="item" [selected]="item === currentLimit">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="coll right">
        <ul class="pagination" *ngIf="page.total > page.limit">
            <li class="page-item" *ngFor="let item of pagination" [ngClass]="{active: item.active, disabled: item.disabled}">
                <span class="page-link" *ngIf="item.active" style="cursor: default">{{item.title}}</span>
                <a class="page-link" *ngIf="!item.active" (click)="setPage(item.offset)">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>