<div class="page-filter">
    <div class="container">
        <div class="coll field" *ngFor="let item of filterFields">
            <label [for]="item.id">{{item.label}}&nbsp;</label>
            <div class="prefix" *ngIf="item.prefix">{{item.prefix}}</div>
            <input [id]="item.id" [type]="item.type" [placeholder]="item.placeholder" [name]="item.id" [value]="item.value" [(ngModel)]="item.value" (ngModelChange)="filterItemChanged()" />
        </div>
        <div class="coll btn">
            <button type="reset" (click)="filterCleared()"></button>
        </div>
    </div>
</div>
