<div class="loading" *ngIf="!appLoaded"></div>
<div class="app" *ngIf="appLoaded">
    <app-header></app-header>

    <app-filter [filterFields]="filterFields" (action)="filterAction($event)"></app-filter>

    <div class="users-list">
        <div class="container">
            <app-pagination [currentTime]="currentTime" [pageLimits]="pageLimits" [currentLimit]="currentLimit" [page]="pagination" (action)="setPage($event)"></app-pagination>
            <div class="table">
                <div class="t-title">
                    <div class="coll" *ngFor="let coll of tableCols" [ngClass]="coll.id.replace('.','-')">{{coll.title}}</div>
                </div>
                <div class="t-body" *ngIf="usersResult.length">
                    <div class="row" *ngFor="let user of usersResult; let i = index;">
                        <div class="coll" *ngFor="let coll of tableCols" [ngClass]="coll.id">
                            <span [ngSwitch]="coll.type">
                                <span *ngSwitchCase="'name'">
                                    {{user.name.title}} <span class="uppercase">{{user.name.first}} {{user.name.last}}</span>
                                </span>
                                <span *ngSwitchCase="'username'">{{user.login.username}}</span>
                                <span *ngSwitchCase="'gender'" [ngClass]="user.gender"></span>
                                <span *ngSwitchCase="'date'" date [data]="user.dob" [params]="coll.params"></span>
                                <span *ngSwitchCase="'email'">
                                    <a [href]="'mailto:'+user.email">{{user.email}}</a>
                                </span>
                                <span *ngSwitchCase="'location'" location [data]="user.location"></span>
                                <span *ngSwitchCase="'picture'">
                                    <a [href]="user.picture.large" target="_blank"><img [src]="user.picture.thumbnail" /></a>
                                </span>
                                <span *ngSwitchDefault>{{user[coll.id]}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="t-body-error" *ngIf="!usersResult.length">Пользователи не найдены</div>
            </div>
            <app-pagination [currentTime]="currentTime" [pageLimits]="pageLimits" [currentLimit]="currentLimit" [page]="pagination" (action)="setPage($event)"></app-pagination>
        </div>
    </div>
</div>